[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
coverage = "*"

[packages]
sanic = "==21.3.4"
grpcio = "==1.37.1"
grpcio-tools = "==1.37.1"
marshmallow = "==3.11.1"
pydantic = "==1.8.1"
motor = "==2.4.0"
inject = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
